.center {
  margin: auto;
  width: 50%;
  border: 3px solid darkgreen;
  padding: 10px;
  background-color: white;
}

body {
  background-color: honeydew;
}

#console {
  border: 2px double black;
  height: 20em;
  padding-left: 4px;
  background-size: cover;
  overflow-y: scroll;
}

h1 {
  margin-top: 4px;
  margin-bottom: 8px;
  text-decoration: underline;
}

.night{
  background-color: darkblue;
}

.day{
  background-color: yellow;
}

.morning {
  background-color: darkorange;
}

.before-noon {
  background-color: goldenrod;
}

.after-noon {
  background-color: greenyellow;
}

.evening {
  background-color: lightskyblue;
}

.center #task9Title:hover {
  cursor: pointer;
}

div#area {
  margin-left: 10%;
  border: 1px solid black;
  width: 80%;
  height: 200px;
  text-align: center;
  font-size: 40px;
  cursor: pointer;
}

div#popup {
  position: absolute;
  width: 500px;
  height: 250px;
  background-color: darkblue;
  color: white;
  text-align: center;
  display: none;
}

div#popup p {
  margin-top: 15%;
}

div#popup strong {
  margin: 5px, 15px, 0px, 0px;
  float: right;
  cursor: pointer;
  width: 50px;
}

div#popup strong:hover {
  background-color: white;
  color: darkblue;
}

div#task10Div {
  height: 430px;
}

div#task10Div p {
  height: 10px;
}

div#area1, div#area2 {
  border: 1px solid;
}

div#area1 {
  height: 200px;
  width: 200px;
  background-color: yellow;
}

div#area2 {
  position: relative;
  left: 50px;
  top: 50px;
  height: 100px;
  width: 100px;
  background-color: lime;
}

div#console p{
  margin: 2px;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
}

form {
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

form input {
  height: 20px;
}

form label {
  width: 30%;
  float: left;
}

form p {
  margin: 0;
  float: right;
}

form button {
  margin-top: 10px;
  width: 90px;
}

.error {
  background-color: red;
}